@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Shrikhand&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  position:relative;
  background-color: #f8f9fa;
}

/* Header Component*/

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 800;
  font-size: 16px;
  line-height: 24px;
  height:4rem;
  background: #fff;
  border-bottom:1px solid #f2f2f5;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.2);
}

.header-left-side{
  font-size:1.5rem;
  font-weight: 700;
}

/* page builder */
.page-builder{
  margin-top:4rem;
}

/* Component List*/
.component-list{
  position: fixed;
  left: 0rem;
  width:inherit;
  min-height: 100vh;
  background-color: #fff;
}
.component-container {
  border-bottom:1px solid #f2f2f5;
  padding:10px;
  font-size:1rem;
  font-weight:500;
}

.component-list-header{
  padding:15px;
  border-bottom:1px solid #f2f2f5;
  font-size:1.2rem;
  font-weight:600;
}

.right-side-component-container:hover{
  cursor:pointer;
}

/* Component with Settings */

.component-with-settings{
  padding: 16px 0;
  min-height:100vh;
}

.component-with-settings-header{
  font-size: 1.3rem;
  font-weight: 600;
}

.children{
  padding-left: 20px;
}

.layer-resolver-element{
  position:relative;
}

.submit-btn-conatiner{
  position: absolute;
  right: 0;
  bottom: 0;
}

.form-heading {
    font-size:16px;
    font-weight:600;
    margin-bottom:8px;
}

.form-children-heading{
  font-size:16px;
  font-weight:500;
  margin-bottom:8px;
}

.children-form{
  margin-top: 16px;
}

.accordion-button:not(.collapsed){
  background-color: none !important;
}

.col-container {
    border:1px dashed gray;
    padding:8px 16px;
}