body {
  position:relative;
}

/* Header Component*/

.header{
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 800;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  height:50px;
  background: hsla(0,0%,100%,0%);
}

.header::before{
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  background: hsla(0,0%,100%,95%);
  pointer-events: none;
  opacity: 0;
  box-shadow: 0px 0px 10px hsla(0,0%,0%,10%);
  content: " ";
  display: block;
  transition: all .2s cubic-bezier(.215,.61,.355,1);
}

/* Component List*/
.component-container {
  border-bottom:1px solid #f2f2f5;
  padding:10px;
  font-size:1rem;
  font-weight:500;
}

.component-list-header{
  padding:15px;
  border-bottom:1px solid #f2f2f5;
  font-size:1.2rem;
  font-weight:600;
}

.right-side-component-container:hover{
  cursor:pointer;
}